template(name='voting')
    .ui.basic.icon.button
        i.thumbs.up.link.big.icon.vote_up(class=vote_up_button_class)
    .ui.basic.icon.button
        i.thumbs.down.link.big.icon.vote_down(class=vote_down_button_class)
        // |#{points}




template(name='published')
    // .ui.dividing.header Visibility
        .ui.large.blue.label
            +icon48 name='eye' classes='ui mini inline image'
        if can_edit
        .ui.large.blue.label(data-tooltip="Viewable but not attributed")
            +icon48 name='ignore' classes='ui mini inline image'
    div
        if can_edit
            #publish.ui.icon.compact.button(data-tooltip='Publish' class=published_class)
                +icon48 name='eye' classes='ui mini inline image'
                if is_published
                    | Published
            #publish_anonymously.ui.icon.compact.button(data-tooltip='Publish Anonymously' class=published_anonymously_class)
                +icon48 name='ignore' classes='ui mini inline image'
                if published_anonymously
                    |Anonymous
            #unpublish.ui.icon.compact.button(data-tooltip='Unpublish' class=private_class)
                +icon48 name='invisible' classes='ui mini inline image'
                if is_private
                    | Private
        // .ui.large.basic.label
        //     +icon48 name='invisible' classes='ui mini inline image'
        // if can_edit






template(name='favorite_button')
    .ui.basic.icon.button.favorite_item(class=favorite_item_class)
        +icon24 name='heart' classes=''
        if favorite_count
            | #{favorite_count}

         
template(name='bookmark_button')
    .bookmark_button.ui.icon.button(class=bookmark_button_class data-tooltip='Bookmark') 
        +icon48 name='bookmark' classes='ui mini inline image'
        // if bookmarked
        //     | Bookmarked
        // else
        //     | Bookmark
        
        
template(name='edit_button')
    if can_edit
        if editing
            #save.ui.basic.large.button(data-position='bottom center' data-tooltip='Save')
                i.green.check.icon
                | Save
        else
            #edit.ui.basic.large.button(data-position="bottom center" data-tooltip='Edit')
                i.blue.pencil.icon
                | Edit