template(name='people')
    .ui.container
        +user_cloud
        .ui.four.cards
            each people
                +person


template(name='person')
    .ui.card
        .content
            a(href="/person/#{_id}")
                .ui.image
                    img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                .ui.header
                    if profile.name
                        | #{profile.name}
                    if profile.first_name
                        | #{profile.first_name}
                    if profile.last_name
                        | #{profile.last_name}
            each five_tags
                .ui.compact.tiny.circular.basic.button.user_tag(class=user_tag_class) #{this}

