template(name='view_profile')
    with person
        .ui.container.grid
            .five.wide.column
                img.ui.centered.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
            .ten.wide.column
                h2.ui.header
                    |#{profile.first_name} #{profile.last_name}
                if tags
                    i.large.tags.icon
                    each tags
                        .ui.basic.label #{this}
                if profile.bio
                    .ui.header Bio
                    |#{profile.bio}
                a.ui.button(href="/profile/#{_id}/edit") Edit Profile                
                
template(name='edit_profile')
    with user
        h1.ui.center.aligned.header Edit Profile
        .ui.container.grid
            .five.wide.column 
                .ui.form
                    .field
                        // .field
                        //     label Current image_id: #{image_id}
                        //     input#input_image_id(type='text' placeholder='Change')
                        if profile.image_id
                            label Image
                            .ui.centered.image
                                img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                a#remove_photo.ui.right.corner.link.label
                                    i.remove.red.link.icon
                        else
                            label Upload Image
                            input(type='file' name='upload_picture' accept='image/*')
            .ten.wide.column  
                .ui.form
                    .field
                        label First Name 
                        .ui.input
                            input#first_name(type='text' value=profile.first_name)
                    .field
                        label Last Name 
                        .ui.input
                            input#last_name(type='text' value=profile.last_name)
                    .field
                        label Email
                        each emails
                            .ui.basic.label #{address}
                    .field
                        label Tags (anything to identify you with)
                        each tags
                            .ui.basic.button.person_tag
                                i.minus.icon
                                |#{this}
                        .ui.left.icon.input
                            i.add.icon
                            input#add_tag(type='text' placeholder='Press enter after each one' maxlength='50')
                .ui.center.aligned.basic.segment
                    a.ui.button(href="/profile/#{_id}") Save

