head
    title C&O Canal Bike Loaner Program
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')



    // LayerSlider stylesheet
    link(rel='stylesheet', href='/layerslider/css/layerslider.css', type='text/css')
    // External libraries: GreenSock
    script(src='/layerslider/js/jquery.js', type='text/javascript')
    script(src='/layerslider/js/greensock.js', type='text/javascript')
    // LayerSlider script files
    script(src='/layerslider/js/layerslider.transitions.js', type='text/javascript')
    script(src='/layerslider/js/layerslider.kreaturamedia.jquery.js', type='text/javascript')



template(name='not_found')
    .ui.text.container
        .ui.center.aligned.header Not Found



template(name='layout')
    +nav
    +Template.dynamic template=main
    +footer



template(name="tag_result")
    .ui.basic.label #{name}



template(name='nav')
    .ui.large.attached.borderless.menu
        a.ui.header.item(href='/') Bike Loaner
        a.item(href='/volunteer') Volunteer
        a.item(href='/posts') Posts
        a.item(href='/bikes') Bikes
        a.item(href='/library') Library
        a.item(href='/faq') FAQ
        a.item(href='/about') About
        a.item(href='/events') Events
        a.item(href='/donate') Donate
        a.icon.item(href='/people')
            i.users.icon
        .right.menu
            if currentUser
                a.item(href="/profile/#{currentUser._id}" class="{{isActiveRoute name='view_profile'}}" data-position="bottom center" data-content="Profile")
                    if currentUser.profile.image_id
                        img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                    else
                        i.user.icon
                    span.mobile.hidden    
                        if currentUser.name
                            | #{currentUser.name}
                        else
                            | #{currentUser.username}
                a#logout.item(href="#") Sign Out
            else
                a.item(href="/sign-in") Sign In
                
                
template(name='donate')
    .row
        .sixteen.wide.column
            +named_content name='donate'
            
template(name='about')
    .row
        .sixteen.wide.column
            +named_content name='about'
            
            