template(name='posts')
    .centered.row
        h1.ui.center.aligned.header Posts
    .row
        .four.wide.column
            +tag_facet
            if isInRole 'admin'
                .ui.hidden.divider
                #add_post.ui.compact.basic.fluid.button
                    i.green.plus.icon
                    |Add Post
        .twelve.wide.column
            .ui.relaxed.divided.items
                each posts
                    +post_item



template(name='post_item')
    .ui.fluid.card
        .ui.centered.image
            a(href="/post/#{_id}")
                img(src="{{c.url image_id  height=300 crop='fill' gravity='face' }}")
        .content
            .ui.header
                a(href="/post/#{_id}") #{title}
            if publish_date
                .meta
                    | Published #{publish_when}
        .content
            |!{content}
        .content
            each tags
                .ui.compact.button.doc_tag(class=tag_class) #{this}
            a.ui.right.floated.icon.basic.button(href="/post/#{_id}")
                i.right.arrow.icon