template(name='card_view')
    .ui.card
        if show_header
            .content
                a.center.aligned.header(href="/view/#{_id}")
                    if icon_class
                        +icon48 name=icon_class classes='ui inline image'
                    // if number
                    //     |#{number}: 
                    |#{title}
                    if end_date
                        |by #{end_date}
                if slug
                    .meta Slug: #{slug}
        if youtube
            +youtube
        if image_id
            .image
                img(src="{{c.url image_id}}")
        if image_url
            .ui.image
                img(src=image_url)
        // if content
        //     .content 
        //         .large130 !{content}
        //         // .large-text !{content}
        //         if author_name
        //             h4.ui.header
        //                 |- #{author_name}
        if link
            .content
                a(href=link target='_blank') #{link}
        if time_marker
            .content
                h5.ui.header Time Marker: #{time_marker}
        if tags
            .content
                +view_tags
        // .content
        //     if child_count
        //         .ui.basic.label(data-tooltip="#{child_count} Child Documents")
        //             +icon48 name='flow-chart' classes='ui tiny inline image'
        //             |#{child_count}
        //     if is_admin
        //         +type
        //         +published_label
        .content
            // +author_info
            // |#{when}
            // if can_edit
            //     // if doc.can_add
            //     +session_edit_button
            +view_full_button



// template(name='grid_item')
//     .ui.center.aligned.card(class=card_class)
//         .content
//             a.ui.image(href="/view/#{_id}")
//                 if image_url
//                     img.ui.tiny.inline.image(src=image_url)
//                 else if completed
//                     +icon96 name=icon_class
//                 else
//                     if icon_class
//                         +dots100 name=icon_class
//                     else
//                         +icon96 name='circle'
//             .ui.hidden.divider
//             a.header(href="/view/#{_id}")
//                 if is_admin
//                     if number
//                         |#{number}: 
//                 |#{title}
//             .ui.hidden.divider
//             .header #{title}
//         if is_admin
//             +title
//             +icon_class
//             +published
        