template(name='view_doc')
    with doc
        .ui.padded.stackable.grid
            unless editing
                .row
                    .four.wide.column
                        a.ui.basic.circular.icon.button(href="/")
                            i.home.icon
                    .eight.wide.center.aligned.column
                        if parent
                            if parent.can_access
                                a.ui.basic.circular.button(href="/view/#{parent._id}")
                                    if parent.icon_class
                                        +icon48 name=parent.icon_class classes='ui mini inline image'
                                    else
                                        +icon48 name='chevron-up' classes='ui mini inline image'
                                    | #{parent.title}
                        else if admin_mode
                            #create_parent.ui.basic.circular.button Create Parent
                    .four.wide.column
                        if currentUser
                            a.ui.circular.basic.button(href="/account/profile/edit/#{currentUser._id}" class="{{isActivePath '/account/profile/edit/#{currentUser._id}'}}")
                                if currentUser.profile.image_id
                                    img.ui.avatar.image(src="{{c.url currentUser.profile.image_id width=50 height=50 gravity='face' crop='fill'}}")
                                else
                                    i.user.icon
                                if currentUser.name
                                    | #{currentUser.name}
                                else
                                    | Profile
                            a#logout.ui.circular.basic.icon.button(href='#' data-content='Sign Out') 
                                i.sign.out.icon
                                // | Sign Out
                        else
                            a.ui.circular.basic.icon.button(href='/sign-in' data-content='Sign In') 
                                i.sign.in.icon
                                // | Sign In

                    
            .centered.row
                .ten.wide.center.aligned.column
                    h1.ui.center.aligned.header
                        if image_url
                            img.ui.tiny.inline.image(src=image_url)
                        else
                            if icon_class
                                +icon96 name=icon_class classes='ui mini spaced image'
                        if editing
                            | Editing '#{title}'
                        else
                            | #{title}
                .four.wide.center.aligned.column
                    if can_edit
                        +toggle_editing_button
            .row
                .four.wide.column
                    unless editing
                        #user_add.ui.large.circular.basic.blue.icon.button
                            +icon48 name='plus' classes='ui mini inline image'
                        +tag_facet
                        +timestamp_facet
                .ten.wide.column
                    +title
                    +content
                    +tags
                    if editing
                        +delete_button
                    unless editing
                        .ui.stackable.cards
                            each children
                                +card_view
            
            

             
template(name='field_menu')
    each unselected_fields
        .select_component.ui.basic.compact.small.button
            +icon48 name=icon_class classes='ui mini spaced image'
            |#{title}
                
    
                    
template(name='toggle_key')
    #toggle_key.ui.compact.button(class=toggle_key_button_class) 
        +icon48 name=icon classes='ui mini spaced image'
        | #{label}


template(name='set_view_mode')
    #set_view_mode.ui.button(class=view_mode_button_class)
        +icon48 name=icon classes='ui spaced mini image'
        | #{label}
