.ui.basic.segment.container
    h1.ui.center.aligned.header Edit Profile 
    with user
        .ui.large.form
            .ui.grid
                .five.wide.column    
                    .field
                        // .field
                        //     label Current image_id: #{image_id}
                        //     input#input_image_id(type='text' placeholder='Change')
                        if profile.image_id
                            label Image
                            .ui.centered.image
                                img.ui.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
                                a#remove_photo.ui.right.corner.link.label
                                    i.remove.red.link.icon
                        else
                            label Upload Image
                            input(type='file' name='upload_picture' accept='image/*')
                .ten.wide.column    
                    .field
                        label First Name 
                        .ui.input
                            input#first_name(type='text' value=profile.first_name)
                    .field
                        label Last Name 
                        .ui.input
                            input#last_name(type='text' value=profile.last_name)
                    .field
                        label Email
                        each emails
                            .ui.basic.label #{address}
                    .field
                        label Tags (anything to identify you with)
                        each tags
                            .ui.basic.button.person_tag
                                i.minus.icon
                                |#{this}
                        .ui.left.icon.input
                            i.add.icon
                            input#add_tag(type='text' placeholder='Press enter after each one' maxlength='50')

                    // .ui.segment
                    //     .ui.header 
                    //         i.hide.icon
                    //         |Private
                    //     .field
                    //         label Phone 
                    //         .ui.input
                    //             input#phone(type='text' value=profile.phone)
                    // .ui.segment
                    //     +atForm
        .ui.basic.segment.container
            .ui.horizontal.divider.header Settings
            // .ui.form
            //     .field
            //         label Subscribe to Newsletter
                    
            .ui.slider.checkbox
                input#newsletter(type='checkbox' checked=user.profile.subscribe)
                label(for='newsletter') Subscribe to Newsletter
        .field
                .ui.center.aligned.basic.segment
                    #save_profile.ui.center.aligned.huge.teal.button
                        |Save
