with person
    .ui.container.grid
        .five.wide.column
            img.ui.centered.image(src="{{c.url profile.image_id width=400 height=400 gravity='face' crop='fill'}}")
        .ten.wide.column
            h2.ui.header
                |#{profile.first_name} #{profile.last_name}
            if tags
                i.large.tags.icon
                each tags
                    .ui.basic.label #{this}
            if profile.position
                .ui.header Position 
                | #{profile.position}
            if profile.pro_bio
                .ui.header Bio
                |#{profile.pro_bio}
            if isInRole 'admin'
                .ui.horizontal.divider.header
                    i.red.configure.icon
                    | Admin
            +edit_profile_button